extends base.pug

 block scripts
script(src='/static/index.js')

block style 
 style
  include ../static/style.css

  block content  
  nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.jpg")
                | HDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]

        
         section#introSection
        div Welcome to Harry's Dance Academy
        div.small Eat Sleep Dance Repeat



section#missionSection
        h2 Our Mission
        div.card
            h3 Dance Perfection
            div.card-box
                div.card-img
                    img(src="/static/img/cardimg.jpg")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Dance the way you like
            div.card-box
                div.card-img
                    img(src="/static/img/cardimg.jpg")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Expert Teaching
            div.card-box
                div.card-img
                    img(src="/static/img/cardimg.jpg")

                
section#sponsorsSection
        h2 Our Sponsors
          img(src= "/static/img/img1.png", alt= "Sponsor Image", class= "spImage")
          img(src= "/static/img/img2.png", alt= "Sponsor Image", class= "spImage")
          img(src= "/static/img/img3.png", alt= "Sponsor Image", class= "spImage")
          img(src= "/static/img/img4.jpg", alt= "Sponsor Image", class= "spImage")



footer#footer
        | Copyright © 2019 HarryAcademy.com | All Rights Reserved



